
# validatingwebhook.yaml
apiVersion: admissionregistration.k8s.io/v1
kind: ValidatingWebhookConfiguration
metadata:
  name: admission-registry
webhooks:
  - name: io.ydzs.admission-registry
    rules:
      - apiGroups:   [""]
        apiVersions: ["v1"]
        operations:  ["CREATE"]
        resources:   ["pods"]
    clientConfig:
      service:
        namespace: default
        name: admission-registry
        path: "/validate"
      caBundle: LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSURtakNDQW9LZ0F3SUJBZ0lVR1hlSWp1Y3kvb3lLUmhYMlZWUFJiRHVkY0xrd0RRWUpLb1pJaHZjTkFRRUwKQlFBd1pURUxNQWtHQTFVRUJoTUNRMDR4RURBT0JnTlZCQWdUQjBKbGFVcHBibWN4RURBT0JnTlZCQWNUQjBKbAphVXBwYm1jeEREQUtCZ05WQkFvVEEyczRjekVQTUEwR0ExVUVDeE1HVTNsemRHVnRNUk13RVFZRFZRUURFd3ByCmRXSmxjbTVsZEdWek1CNFhEVEl4TURFeU16RXhOVFF3TUZvWERUSTJNREV5TWpFeE5UUXdNRm93WlRFTE1Ba0cKQTFVRUJoTUNRMDR4RURBT0JnTlZCQWdUQjBKbGFVcHBibWN4RURBT0JnTlZCQWNUQjBKbGFVcHBibWN4RERBSwpCZ05WQkFvVEEyczRjekVQTUEwR0ExVUVDeE1HVTNsemRHVnRNUk13RVFZRFZRUURFd3ByZFdKbGNtNWxkR1Z6Ck1JSUJJakFOQmdrcWhraUc5dzBCQVFFRkFBT0NBUThBTUlJQkNnS0NBUUVBdmxnWmcrbDNhMkZucTQyQmJaZUwKSWJsY0lIWUxTNlVrMks2dEtqZ3hOQWRYVHYzUGpEQlRDRCtYMlFzUUUzSFBJd2dudm40dDRDcmg1YjhCNWo2dwpkZ1k5b3BJTlZVQnZyVS9EUEtFeU85ejB3VlJiUExoYjFuWVVBV3l5OHUxNU1wM2wxa1RYb2xqQlg0SEdIS0x6CkVrcUMxWHphcm5TOE1xcHZKUVk5aHE2RlpxcW1Id3JRVm1CaHQ0cVJORDFZQmdhU0dqcTVmR3VYSTJDTEhUVGoKTUd2WXRFemsvUXl0T21sSEdqQUJsWnJPUit0NldIOGRNYWpsUDNSdUw0UlRQNTZWamd1N2R2V1pacUE4cEJzRgo4Q2tvM0xzbXh3Rk82VXFyYkQ3dWwvWmVmOVRGUS9lbGFTNFIzQlY4U0tHRDBNR1NBbHVMaGJCVk42ZEpLTnRMCk13SURBUUFCbzBJd1FEQU9CZ05WSFE4QkFmOEVCQU1DQVFZd0R3WURWUjBUQVFIL0JBVXdBd0VCL3pBZEJnTlYKSFE0RUZnUVVtcXlSbVVVZlNlNWJmVkozQ1kxZ2I5SHFBYVF3RFFZSktvWklodmNOQVFFTEJRQURnZ0VCQUhoNgoyUEVjLzIyNjVhY2FaVVZhZXY1SXFaYllzOHlDTmhDMk83MlR4QWRFTlltRXIzazdHUVI5cDVxV2Q3QlYzRDNRCmZWMEl5c0Zab1RlSDkyMlpyNEhMdXZ4SlBJeW1HYVhoYXgvR2ptTTZOUm1TQWpsdUNmaWFpRXBXMThVVTRUMFMKSEErMVBOelRFU3FyMXlMUEkwTitkV0tqb2NWTHRqQmJCWEFzTHJiYUhxSTc5dDVSUGZnU1hKSGpSTllQdG50bApRRXhxUTM3MzRiaElkaEE1R0tkdms4VlZyWWRSUE1DUmhVcDhtWDQ2UWppdDBvZTkwbjlWNGdKYklRemJKdGRuClpJTmpXeE8xRkJqdktMQ3lMQ3ZlUG41bUdLTXhyNUVzenBvVmdjQ0JpYkpsUmhZdVdEamMzZWMwd1o0cE5zTEQKRFIrUmQ2eGFtV0xFZ2JLakdacz0KLS0tLS1FTkQgQ0VSVElGSUNBVEUtLS0tLQo=
    admissionReviewVersions: ["v1"]
    sideEffects: None

---

apiVersion: admissionregistration.k8s.io/v1
kind: MutatingWebhookConfiguration
metadata:
  name: admission-registry-mutate
webhooks:
  - name: io.ydzs.admission-registry-mutate
    clientConfig:
      service:
        namespace: default
        name: admission-registry
        path: "/mutate"
      caBundle: LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSURtakNDQW9LZ0F3SUJBZ0lVR1hlSWp1Y3kvb3lLUmhYMlZWUFJiRHVkY0xrd0RRWUpLb1pJaHZjTkFRRUwKQlFBd1pURUxNQWtHQTFVRUJoTUNRMDR4RURBT0JnTlZCQWdUQjBKbGFVcHBibWN4RURBT0JnTlZCQWNUQjBKbAphVXBwYm1jeEREQUtCZ05WQkFvVEEyczRjekVQTUEwR0ExVUVDeE1HVTNsemRHVnRNUk13RVFZRFZRUURFd3ByCmRXSmxjbTVsZEdWek1CNFhEVEl4TURFeU16RXhOVFF3TUZvWERUSTJNREV5TWpFeE5UUXdNRm93WlRFTE1Ba0cKQTFVRUJoTUNRMDR4RURBT0JnTlZCQWdUQjBKbGFVcHBibWN4RURBT0JnTlZCQWNUQjBKbGFVcHBibWN4RERBSwpCZ05WQkFvVEEyczRjekVQTUEwR0ExVUVDeE1HVTNsemRHVnRNUk13RVFZRFZRUURFd3ByZFdKbGNtNWxkR1Z6Ck1JSUJJakFOQmdrcWhraUc5dzBCQVFFRkFBT0NBUThBTUlJQkNnS0NBUUVBdmxnWmcrbDNhMkZucTQyQmJaZUwKSWJsY0lIWUxTNlVrMks2dEtqZ3hOQWRYVHYzUGpEQlRDRCtYMlFzUUUzSFBJd2dudm40dDRDcmg1YjhCNWo2dwpkZ1k5b3BJTlZVQnZyVS9EUEtFeU85ejB3VlJiUExoYjFuWVVBV3l5OHUxNU1wM2wxa1RYb2xqQlg0SEdIS0x6CkVrcUMxWHphcm5TOE1xcHZKUVk5aHE2RlpxcW1Id3JRVm1CaHQ0cVJORDFZQmdhU0dqcTVmR3VYSTJDTEhUVGoKTUd2WXRFemsvUXl0T21sSEdqQUJsWnJPUit0NldIOGRNYWpsUDNSdUw0UlRQNTZWamd1N2R2V1pacUE4cEJzRgo4Q2tvM0xzbXh3Rk82VXFyYkQ3dWwvWmVmOVRGUS9lbGFTNFIzQlY4U0tHRDBNR1NBbHVMaGJCVk42ZEpLTnRMCk13SURBUUFCbzBJd1FEQU9CZ05WSFE4QkFmOEVCQU1DQVFZd0R3WURWUjBUQVFIL0JBVXdBd0VCL3pBZEJnTlYKSFE0RUZnUVVtcXlSbVVVZlNlNWJmVkozQ1kxZ2I5SHFBYVF3RFFZSktvWklodmNOQVFFTEJRQURnZ0VCQUhoNgoyUEVjLzIyNjVhY2FaVVZhZXY1SXFaYllzOHlDTmhDMk83MlR4QWRFTlltRXIzazdHUVI5cDVxV2Q3QlYzRDNRCmZWMEl5c0Zab1RlSDkyMlpyNEhMdXZ4SlBJeW1HYVhoYXgvR2ptTTZOUm1TQWpsdUNmaWFpRXBXMThVVTRUMFMKSEErMVBOelRFU3FyMXlMUEkwTitkV0tqb2NWTHRqQmJCWEFzTHJiYUhxSTc5dDVSUGZnU1hKSGpSTllQdG50bApRRXhxUTM3MzRiaElkaEE1R0tkdms4VlZyWWRSUE1DUmhVcDhtWDQ2UWppdDBvZTkwbjlWNGdKYklRemJKdGRuClpJTmpXeE8xRkJqdktMQ3lMQ3ZlUG41bUdLTXhyNUVzenBvVmdjQ0JpYkpsUmhZdVdEamMzZWMwd1o0cE5zTEQKRFIrUmQ2eGFtV0xFZ2JLakdacz0KLS0tLS1FTkQgQ0VSVElGSUNBVEUtLS0tLQo=
    rules:
      - operations: [ "CREATE" ]
        apiGroups: ["apps", ""]
        apiVersions: ["v1"]
        resources: ["deployments","services"]
    admissionReviewVersions: [ "v1" ]
    sideEffects: None